{% set activeSection = page.url.indexOf('/' + group.key + '/') == 0 %}
<section class="sidebar-group{% if activeSection %} is-active{% endif %}" data-sidebar-group>
  <button class="sidebar-group__toggle" type="button" aria-expanded="{% if activeSection %}true{% else %}false{% endif %}">
    <span class="sidebar-group__title"><span class="sidebar-group__icon">{{ group.icon }}</span> {{ group.title }}</span>
    <span class="sidebar-group__chevron">▾</span>
  </button>
  <div class="sidebar-group__panel{% if activeSection %} is-open{% endif %}">
    <a class="sidebar-section-link" href="/{{ group.key }}/">Overview</a>
    {% for post in items %}
      <a class="sidebar-item{% if page.url == post.url %} is-current{% endif %}" href="{{ post.url }}">{{ post.data.nav_label or post.data.title }}</a>
    {% endfor %}
  </div>
</section>
