
---
layout: layouts/base.njk
---
<div class="app-shell">
  {% include "partials/site-header.njk" %}
  {% include "partials/publication-sidebar.njk" %}

  <main id="main-content" class="main-panel">
    {{ content | safe }}
    {% include "partials/site-footer.njk" %}
  </main>
</div>
