---
layout: layouts/base.njk
---
<section class="page-main page-main--browse">
  <article class="notebook-page article article--section">
    <header class="article-header">
      <div class="line-space-reset"></div>
      <h1>{{ title }}</h1>
      {% if description %}
        <p class="lede">{{ description }}</p>
      {% endif %}
    </header>

    <div class="article-body">
      {{ content | safe }}
    </div>
  </article>
</section>